@media only screen and (max-width: 600px) {
    /* For the container */
    #all-reviews-page-container {
        width: 95%;
        margin: auto;
    }

    /* For the top section */
    #top-section-of-all-reviews-page {
        margin-top: 10px;
    } 

    /* For the back to current recipe link*/
    #top-section-of-all-reviews-page a {
        display: flex;
        text-decoration: none;
        color: black;
        width: fit-content;
        position: absolute;    
    }

    #top-section-of-all-reviews-page a i {
        margin: -10px 5px 0px 0px;
        font-size: 30px;
    }

    #top-section-of-all-reviews-page a:hover {
        color: orange;
    }

    #top-section-of-all-reviews-page a + p {
        display: block;
        font-size: 30px;
        padding-top: 45px;
        font-weight: bold;
    }

    /* For recipe ratings */
    #recipe-ratings-in-all-reviews-page {
        margin-left: -10px;
    }

    #recipe-ratings-in-all-reviews-page i {
        margin-left: 10px;
        font-size: 20px;
    }

    /* For the order of reviews and types of reviews */
    #recipe-ratings-in-all-reviews-page + div {
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
    }

    #recipe-ratings-in-all-reviews-page + div p {
        margin: 0px 50px 0px 0px;
    }

    #types-of-reviews-in-all-reviews-page {
        outline: none;
        border: none;
        font-weight: bold;
    }

    /* For break line */
    #top-section-of-all-reviews-page + hr {
        margin-bottom: 30px;
    }
    
    /* For all reviews */
    .review-in-all-reviews-page {
        height: fit-content;
        border-bottom: 1px solid rgb(200, 200, 200);
        margin-bottom: 30px;
    }

    /* For all avatars of the reviewers */
    .review-in-all-reviews-page a img {
        display: inline-block;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: rgb(233, 233, 233);
        color: black;
        font-weight: normal;
        margin-right: 10px;
    }

    /* For all account names of the reviewers */
    .review-in-all-reviews-page a {
        display: block;
        width: fit-content;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    /* For stars and review time of the reviews */
    .stars-and-review-time-of-review-in-all-reviews-page {
        display: flex;
    }

    .stars-of-review-in-all-reviews-page {
        width: fit-content;
        margin-top: 10px;
        height: fit-content;
        margin-left: -10px;
    }

    .stars-of-review-in-all-reviews-page i {
        margin-left: 10px;
    }

    .stars-of-review-in-all-reviews-page + p {
        margin-top: 15px;
        margin-left: 15px;
        font-size: 12px; 
    }

    /* For the "Read More" of the reviews */
    .stars-and-review-time-of-review-in-all-reviews-page + p + p {
        margin-top: -15px;
        width: fit-content;
        position: absolute;
    }

    .stars-and-review-time-of-review-in-all-reviews-page + p + p:hover {
        cursor: pointer;
        border-bottom: 1px solid rgb(201, 7, 0);    
    }

    /* For the number of helpful of the reviews */
    .number-of-helpful-of-review-in-all-reviews-page {
        display: flex;
        margin-top: 20px;
        margin-left: 2px;
    }

    .number-of-helpful-of-review-in-all-reviews-page i {
        color: orangered;
        cursor: pointer; /* Để tạm để thể hiện chỗ này cần code thành phần tử có thể click vào được */
    }

    .number-of-helpful-of-review-in-all-reviews-page p {
        margin-top: 5px;
        font-style: normal;
        margin-left: 10px;
        margin-bottom: 25px;
        font-size: 13px;
    }
    
    /* For review pages bar */
    .review-pages-bar-in-all-reviews-page {
        display: flex;
        margin: auto;
        margin-top: -10px;
        margin-bottom: 20px;
        width: fit-content;
        list-style: none;
        padding-left: 0px;
    }

    .back-to-previous-review-pages-of-review-pages-bar-in-all-reviews-page {
        font-size: 20px;
        text-decoration: none;
        color: black;
        border-radius: 50%;
        font-weight: bold;
    }

    .back-to-previous-review-pages-of-review-pages-bar-in-all-reviews-page:hover {
        color: orange;
    }

    .default-selected-review-page-of-review-pages-bar-in-all-reviews-page {
        background-color: orange !important;
        color: white;
    }

    .all-pages-of-review-pages-bar-in-all-reviews-page {
        margin: 0px 10px 0px 10px;
        border: solid;
        border-color: rgb(255, 185, 33);
        padding: 4px 0px 0px 0px;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        background-color: white;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }

    .all-pages-of-review-pages-bar-in-all-reviews-page:hover {
        background-color: rgb(255, 220, 144);
    }

    .break-of-review-pages-bar-in-all-reviews-page {
        font-size: 20px;
    }

    .go-to-next-review-pages-of-review-pages-bar-in-all-reviews-page {
        font-size: 20px;
        text-decoration: none;
        color: black;
        border-radius: 50%;
        font-weight: bold;
    }

    .go-to-next-review-pages-of-review-pages-bar-in-all-reviews-page:hover {
        color: orange;
    }

    .disable-button-of-review-pages-bar-in-all-reviews-page {
        color: rgb(198, 197, 202);
    }

    .disable-button-of-review-pages-bar-in-all-reviews-page:hover {
        cursor: default;
        color: rgb(198, 197, 202);
    }
}

@media only screen and (min-width: 601px) {
        /* For the container */
    #all-reviews-page-container {
        width: 93%;
        margin: auto;
    }

    /* For the top section */
    #top-section-of-all-reviews-page {
        margin-top: 10px;
    } 

    /* For the back to current recipe link*/
    #top-section-of-all-reviews-page a {
        display: flex;
        text-decoration: none;
        color: black;
        width: fit-content;
        position: absolute;    
    }

    #top-section-of-all-reviews-page a i {
        margin: -10px 5px 0px 0px;
        font-size: 30px;
    }

    #top-section-of-all-reviews-page a:hover {
        color: orange;
    }

    #top-section-of-all-reviews-page a + p {
        display: block;
        font-size: 30px;
        padding-top: 45px;
        font-weight: bold;
    }

    /* For recipe ratings */
    #recipe-ratings-in-all-reviews-page {
        margin-left: -10px;
    }

    #recipe-ratings-in-all-reviews-page i {
        margin-left: 10px;
        font-size: 20px;
    }

    /* For the order of reviews and types of reviews */
    #recipe-ratings-in-all-reviews-page + div {
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
    }

    #recipe-ratings-in-all-reviews-page + div p {
        margin: 0px 50px 0px 0px;
    }

    #types-of-reviews-in-all-reviews-page {
        outline: none;
        border: none;
        font-weight: bold;
    }

    /* For break line */
    #top-section-of-all-reviews-page + hr {
        margin-bottom: 30px;
    }

    /* For all reviews */
    .review-in-all-reviews-page {
        height: fit-content;
        border-bottom: 1px solid rgb(200, 200, 200);
        margin-bottom: 30px;
    }

    /* For all avatars of the reviewers */
    .review-in-all-reviews-page a img {
        display: inline-block;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: rgb(233, 233, 233);
        color: black;
        font-weight: normal;
        margin-right: 10px;
    }

    /* For all account names of the reviewers */
    .review-in-all-reviews-page a {
        display: block;
        width: fit-content;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    /* For stars and review time of the reviews */
    .stars-and-review-time-of-review-in-all-reviews-page {
        display: flex;
    }

    .stars-of-review-in-all-reviews-page {
        width: fit-content;
        margin-top: 10px;
        height: fit-content;
        margin-left: -10px;
    }

    .stars-of-review-in-all-reviews-page i {
        margin-left: 10px;
    }

    .stars-of-review-in-all-reviews-page + p {
        margin-top: 15px;
        margin-left: 15px;
        font-size: 12px; 
    }

    /* For the "Read More" of the reviews */
    .stars-and-review-time-of-review-in-all-reviews-page + p + p {
        margin-top: -15px;
        width: fit-content;
        position: absolute;
    }

    .stars-and-review-time-of-review-in-all-reviews-page + p + p:hover {
        cursor: pointer;
        border-bottom: 1px solid rgb(201, 7, 0);    
    }

    /* For the number of helpful of the reviews */
    .number-of-helpful-of-review-in-all-reviews-page {
        display: flex;
        margin-top: 20px;
        margin-left: 2px;
    }

    .number-of-helpful-of-review-in-all-reviews-page i {
        color: orangered;
        cursor: pointer; /* Để tạm để thể hiện chỗ này cần code thành phần tử có thể click vào được */
    }

    .number-of-helpful-of-review-in-all-reviews-page p {
        margin-top: 5px;
        font-style: normal;
        margin-left: 10px;
        margin-bottom: 25px;
        font-size: 13px;
    }

    /* For review pages bar */
    .review-pages-bar-in-all-reviews-page {
        display: flex;
        margin: auto;
        margin-top: -10px;
        margin-bottom: 20px;
        width: fit-content;
        list-style: none;
        padding-left: 0px;
    }

    .back-to-previous-review-pages-of-review-pages-bar-in-all-reviews-page {
        font-size: 20px;
        text-decoration: none;
        color: black;
        border-radius: 50%;
        font-weight: bold;
    }

    .back-to-previous-review-pages-of-review-pages-bar-in-all-reviews-page:hover {
        color: orange;
    }

    .default-selected-review-page-of-review-pages-bar-in-all-reviews-page {
        background-color: orange !important;
        color: white;
    }

    .all-pages-of-review-pages-bar-in-all-reviews-page {
        margin: 0px 10px 0px 10px;
        border: solid;
        border-color: rgb(255, 185, 33);
        padding: 4px 0px 0px 0px;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        background-color: white;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }

    .all-pages-of-review-pages-bar-in-all-reviews-page:hover {
        background-color: rgb(255, 220, 144);
    }

    .break-of-review-pages-bar-in-all-reviews-page {
        font-size: 20px;
    }

    .go-to-next-review-pages-of-review-pages-bar-in-all-reviews-page {
        font-size: 20px;
        text-decoration: none;
        color: black;
        border-radius: 50%;
        font-weight: bold;
    }

    .go-to-next-review-pages-of-review-pages-bar-in-all-reviews-page:hover {
        color: orange;
    }

    .disable-button-of-review-pages-bar-in-all-reviews-page {
        color: rgb(198, 197, 202);
    }

    .disable-button-of-review-pages-bar-in-all-reviews-page:hover {
        cursor: default;
        color: rgb(198, 197, 202);
    }
}

@media only screen and (min-width: 768px) {
    /* For the container */
    #all-reviews-page-container {
        width: 94%;
        margin: auto;
    }

    /* For the order of reviews and types of reviews */
    #recipe-ratings-in-all-reviews-page + div {
        display: flex;
        width: 715px;
        margin-top: 25px;
        justify-content: space-between;
    }

    /* For break line */
    #top-section-of-all-reviews-page + hr {
        margin-bottom: 30px;
        width: 715px;
    }

    /* For the container of all reviews */
    #reviews-in-all-reviews-page {
        width: 715px;
    }

    /* For all reviews */
    .review-in-all-reviews-page {
        height: fit-content;
        width: 715px;
        border-bottom: 1px solid rgb(200, 200, 200);
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 956px) {
    /* For the container */
    #all-reviews-page-container {
        width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 1200px) {
    /* For the container */
    #all-reviews-page-container {
        width: 71%;
        margin: auto;
    }
}

@media only screen and (min-width: 1400px) {
    /* For the container */
    #all-reviews-page-container {
        width: 67%;
        margin: auto;
    }
}

@media only screen and (min-width: 1600px) {
    /* For the container */
    #all-reviews-page-container {
        width: 62.5%;
        margin: auto;
    }
}

@media only screen and (min-width: 1712px) {
    /* For the container */
    #all-reviews-page-container {
        width: 63%;
        margin: auto;
    }
}


