@media only screen and (max-width: 600px) {
    /* For the container */
    #authentication-container {
        display: block;
        width: 480px;
        margin: auto;
        margin-top: 40px;
    }

    #flex-box-in-authentication-page {
        display: flex;
        justify-content: space-between;
    }

    /* For the OR line */
    #or {
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid orange; 
        line-height: 0.1em;
        margin-top: 25px; 
    } 
 
    #or span { 
        background-color: #fff; 
        padding: 0px 10px; 
    }

    /* For the sign up with email button */
    #sign-up-with-email {
        margin-top: 10px;
        border: none;
        background-color: rgb(233, 233, 233);
        width: 100%;
        height: 50px;
    }

    #or + a + p {
        width: fit-content;
        margin: auto;
        margin-top: 20px;
    }

    /* For the sign in link */
    #sign-in {
        text-decoration: none;
        color: orange;
    }
}

@media only screen and (min-width: 601px) {
    /* For the container */
    #authentication-container {
        display: block;
        width: 580px;
        margin: auto;
        margin-top: 40px;
    }

    #flex-box-in-authentication-page {
        display: flex;
        justify-content: space-between;
    }

    /* For the OR line */
    #or {
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid orange; 
        line-height: 0.1em;
        margin-top: 25px; 
    } 
 
    #or span { 
        background-color: #fff; 
        padding: 0px 10px; 
    }

    /* For the sign up with email button */
    #sign-up-with-email {
        margin-top: 10px;
        border: none;
        background-color: rgb(233, 233, 233);
        width: 100%;
        height: 50px;
    }

    #or + a + p {
        width: fit-content;
        margin: auto;
        margin-top: 20px;
    }

    /* For the sign in link */
    #sign-in {
        text-decoration: none;
        color: orange;
    }
}
