@media only screen and (max-width: 600px) {
    /* For the container of top part */
    #top-part-container-in-evaluated-recipes-page {
        width: 100%;
    }

    /* For the container of evaluated recipes page */
    #evaluated-recipes-page {
        width: 95%;
        margin: auto;
    }

    /* For the evaluated recipes sorting options */
    #evaluated-recipes-sorting-options-in-evaluated-recipes-page {
        display: flex;
        margin: 10px 0px 30px 0px;
        width: 100%;
        justify-content: end;
    }

    #evaluated-recipes-sorting-options-in-evaluated-recipes-page label {
        font-size: 16px;
        margin: 10px 5px 0px 0px;
        color: rgb(180, 180, 180);
        margin-top: 7px;
    }

    #select-evaluated-recipes-sorting-options-in-evaluated-recipes-page {
        border: none;
        outline: none;
        margin-top: 7px;
        height: fit-content;
    }

    /* For recipe in evaluated recipes page */
    .recipe-in-evaluated-recipes-page {
        border: 1px solid rgb(216, 216, 216);
        margin: auto;
        margin-bottom: 30px;
        width: fit-content;
    }

    /* For the save recipe button */
    .save-recipe-button-in-evaluated-recipes-page {
        border: none;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        position: absolute;
        background-color: rgb(0, 0, 0, 0.4);
        margin: 10px 0px 0px 230px;
    }

    .save-recipe-button-in-evaluated-recipes-page i {
        font-size: 35px;
        color: white;
    }

    .save-recipe-button-in-evaluated-recipes-page:hover {
        background-color: rgb(0, 0, 0, 0.6);
    }

    /* For the recipe photo and related information of displayed recipe */
    .save-recipe-button-in-evaluated-recipes-page + a {
        text-decoration: none;
    }

    /* For the recipe photo */
    .recipe-photo-in-evaluated-recipes-page {
        background-color: rgb(201, 201, 201);
        display: inline-block;
        width: 280px;
        height: 280px;
        color: black;
        margin: 10px;
    }

    /* For the name and related information of displayed recipe */
    .recipe-name-in-evaluated-recipes-page {
        margin-left: 9px;
        font-size: 20px;
        font-weight: bold;
        color: black;
        width: 280px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .recipe-name-in-evaluated-recipes-page:hover {
        color: orange;
    }

    /* For the rating title in evaluated recipes page */
    .save-recipe-button-in-evaluated-recipes-page + a + p {
        font-size: 13px;
        font-style: italic;
        margin-left: 10px;
        margin-top: -5px;
    }

    /* For the rating in evaluated recipes page */
    .own-ratings-in-evaluated-recipes-page {
        display: flex;
        margin: -15px 0px 0px 5px;
    }

    .own-ratings-in-evaluated-recipes-page i {
        margin-left: 5px;
    }

    /* For the break line */
    .own-ratings-in-evaluated-recipes-page + hr {
        border-top: 1px dotted black;
        background-color: white;
        margin: 5px 10px 0px 10px;
    }

    /* For the review in evaluated recipes page */
    .own-review-in-evaluated-recipes-page {
        margin: 17.5px 0px 17.5px 9px;
    }

    /* For the review button in evaluated recipes page */
    .own-ratings-in-evaluated-recipes-page + a {
        text-decoration: none;
    }
    
    .add-review-button-in-evaluated-recipes-page {
        background-color: rgb(240, 240, 240);
        margin: 10px;
        height: 45px;
        width: 93.5%;
        display: flex; 
        border: none;
    }

    .add-icon-in-evaluated-recipes-page {
        border-radius: 50%;
        background-color: white;
        width: 25px;
        height: 25px;
        margin: auto;
        margin-right: -65px;
    }

    .add-icon-in-evaluated-recipes-page i {
        font-size: 25px;
        margin: -7px 0px 0px -11.5px;
        position: absolute;
        color: rgb(140, 140, 140);
    }

    .add-icon-in-evaluated-recipes-page + p {
        margin: auto;
    }

    /* For load more recipes button */
    #load-more-recipes-button-in-evaluated-recipes-page {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        width: 150px;
        height: 45px;
        font-size: 13px;
        border: none;
        background-color: rgb(240, 56, 0);
        color: white;
        font-weight: bold;
    }

    #load-more-recipes-button-in-evaluated-recipes-page:hover {
        background-color: rgb(216, 50, 0);
    }
}

@media only screen and (min-width: 601px) {
    /* For the container of top part */
    #top-part-container-in-evaluated-recipes-page {
        width: 100%;
    }
    
    /* For the container of evaluated recipes page */
    #evaluated-recipes-page {
        width: 95%;
        margin: auto;
    }

    /* For the evaluated recipes sorting options */
    #evaluated-recipes-sorting-options-in-evaluated-recipes-page {
        display: flex;
        margin: 10px 0px 30px 0px;
        width: 100%;
        justify-content: end;
    }

    #evaluated-recipes-sorting-options-in-evaluated-recipes-page label {
        font-size: 16px;
        margin: 10px 5px 0px 0px;
        color: rgb(180, 180, 180);
        margin-top: 7px;
    }

    #select-evaluated-recipes-sorting-options-in-evaluated-recipes-page {
        border: none;
        outline: none;
        margin-top: 7px;
        height: fit-content;
    }

    /* For recipe in evaluated recipes page */
    .recipe-in-evaluated-recipes-page {
        border: 1px solid rgb(216, 216, 216);
        margin: auto;
        margin-bottom: 30px;
        width: fit-content;
    }

    /* For the save recipe button */
    .save-recipe-button-in-evaluated-recipes-page {
        border: none;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        position: absolute;
        background-color: rgb(0, 0, 0, 0.4);
        margin: 10px 0px 0px 230px;
    }

    .save-recipe-button-in-evaluated-recipes-page i {
        font-size: 35px;
        color: white;
    }

    .save-recipe-button-in-evaluated-recipes-page:hover {
        background-color: rgb(0, 0, 0, 0.6);
    }

    /* For the recipe photo and related information of displayed recipe */
    .save-recipe-button-in-evaluated-recipes-page + a {
        text-decoration: none;
    }

    /* For the recipe photo */
    .recipe-photo-in-evaluated-recipes-page {
        background-color: rgb(201, 201, 201);
        display: inline-block;
        width: 280px;
        height: 280px;
        color: black;
        margin: 10px;
    }

    /* For the name and related information of displayed recipe */
    .recipe-name-in-evaluated-recipes-page {
        margin-left: 9px;
        font-size: 20px;
        font-weight: bold;
        color: black;
        width: 280px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .recipe-name-in-evaluated-recipes-page:hover {
        color: orange;
    }

    /* For the rating title in evaluated recipes page */
    .save-recipe-button-in-evaluated-recipes-page + a + p {
        font-size: 13px;
        font-style: italic;
        margin-left: 10px;
        margin-top: -5px;
    }

    /* For the rating in evaluated recipes page */
    .own-ratings-in-evaluated-recipes-page {
        display: flex;
        margin: -15px 0px 0px 5px;
    }

    .own-ratings-in-evaluated-recipes-page i {
        margin-left: 5px;
    }

    /* For the break line */
    .own-ratings-in-evaluated-recipes-page + hr {
        border-top: 1px dotted black;
        background-color: white;
        margin: 5px 10px 0px 10px;
    }

    /* For the review in evaluated recipes page */
    .own-review-in-evaluated-recipes-page {
        margin: 17.5px 0px 17.5px 9px;
    }

    /* For the review button in evaluated recipes page */
    .own-ratings-in-evaluated-recipes-page + a {
        text-decoration: none;
    }
    
    .add-review-button-in-evaluated-recipes-page {
        background-color: rgb(240, 240, 240);
        margin: 10px;
        height: 45px;
        width: 93.5%;
        display: flex; 
        border: none;
    }

    .add-icon-in-evaluated-recipes-page {
        border-radius: 50%;
        background-color: white;
        width: 25px;
        height: 25px;
        margin: auto;
        margin-right: -65px;
    }

    .add-icon-in-evaluated-recipes-page i {
        font-size: 25px;
        margin: -7px 0px 0px -11.5px;
        position: absolute;
        color: rgb(140, 140, 140);
    }

    .add-icon-in-evaluated-recipes-page + p {
        margin: auto;
    }

    /* For load more recipes button */
    #load-more-recipes-button-in-evaluated-recipes-page {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        width: 150px;
        height: 45px;
        font-size: 13px;
        border: none;
        background-color: rgb(240, 56, 0);
        color: white;
        font-weight: bold;
    }

    #load-more-recipes-button-in-evaluated-recipes-page:hover {
        background-color: rgb(216, 50, 0);
    }
}

@media only screen and (min-width: 670px) {
    /* For the container of recipes */
    #recipes-in-evaluated-recipes-page {
        width: fit-content;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 956px) {
    /* For the container of top part */
    #top-part-container-in-evaluated-recipes-page {
        width: 70%;
        margin: auto; 
    }

    /* For the container of made recipes page */
    #evaluated-recipes-page {
        width: 70%;
        margin: auto;
    }
}

@media only screen and (min-width: 1200px) {
    /* For the container of top part */
    #top-part-container-in-evaluated-recipes-page {
        width: 60%;
        margin: auto; 
    }

    /* For the container of made recipes page */
    #evaluated-recipes-page {
        width: 60%;
        margin: auto;
    }
}

@media only screen and (min-width: 1600px) {
    /* For the container of top part */
    #top-part-container-in-evaluated-recipes-page {
        width: 62.5%;
        margin: auto; 
    }

    /* For the container of made recipes page */
    #evaluated-recipes-page {
        width: 62.5%;
        margin: auto;
    }

    /* For the container of recipes */
    #recipes-in-evaluated-recipes-page {
        width: fit-content;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 15px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 1712px) {
    /* For the container of top part */
    #top-part-container-in-evaluated-recipes-page {
        width: 64%;
        margin: auto; 
    }

    /* For the container of made recipes page */
    #evaluated-recipes-page {
        width: 64%;
        margin: auto;
    }
}
