@media only screen and (max-width: 600px) {
    /* For the container of filter recipes page */
    #filter-recipes-page {
        width: 95%;
        margin: auto;
    }

    /* For the all titles */
    .titles-in-filter-recipes-page {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
    }

    /* For search by alphabet section */
    #search-by-alphabet-in-filter-recipes-page {
        margin: -20px 0px -10px -25px;    
    }

    #search-by-alphabet-in-filter-recipes-page li {
        display: inline-block;
        margin: 10px 5px;
    }

    #search-by-alphabet-in-filter-recipes-page li a {
        text-decoration: none;
        color: black;
        padding: 5px 3.5px;
    }

    #search-by-alphabet-in-filter-recipes-page li a:hover {
        background-color: orange;
        color: white;
    }

    /* For search by keyword section */
    #search-by-keyword-in-filter-recipes-page input {
        margin-top: -5px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        height: 40px;
        border: 1px solid rgb(204, 204, 204);
        padding-left: 10px;
        padding-right: 10px;
    }

    #search-by-keyword-in-filter-recipes-page input:focus {
        border: 1px solid orange;
        box-shadow: 0px 0px 5px 0px orange;
    }

    /* For search by categories section */
    #search-by-categories-in-filter-recipes-page hr {
        margin-top: -10px;
    }

    #categories-of-recipes-in-filter-recipes-page {
        display: flex;
        width: 480px;
        margin-top: -10px;
    }

    #categories-of-recipes-in-filter-recipes-page div p {
        font-weight: bold;
    }

    #categories-of-recipes-in-filter-recipes-page div label {
        margin-top: 10px;
    }

    .category-of-recipes-in-filter-recipes-page {
        margin-right: 10px;
    }

    /* For the search button */
    #filter-recipes + button {
        margin-top: 20px;
        border: none;
        background-color: rgb(34, 136, 202);
        color: white;
        width: 80px;
        height: 35px;
        border-radius: 5px;
    }   

    #filter-recipes + button:hover {
        background-color: rgb(0, 160, 240);
    }
}

@media only screen and (min-width: 601px) {
    /* For the container of filter recipes page */
    #filter-recipes-page {
        width: 95%;
        margin: auto;
    }

    /* For the all titles */
    .titles-in-filter-recipes-page {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
    }

    /* For search by alphabet section */
    #search-by-alphabet-in-filter-recipes-page {
        margin: -20px 0px -10px -25px;    
    }

    #search-by-alphabet-in-filter-recipes-page li {
        display: inline-block;
        margin: 10px 5px;
    }

    #search-by-alphabet-in-filter-recipes-page li a {
        text-decoration: none;
        color: black;
        padding: 5px 3.5px;
    }

    #search-by-alphabet-in-filter-recipes-page li a:hover {
        background-color: orange;
        color: white;
    }

    /* For search by keyword section */
    #search-by-keyword-in-filter-recipes-page input {
        margin-top: -5px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        height: 40px;
        border: 1px solid rgb(204, 204, 204);
        padding-left: 10px;
        padding-right: 10px;
    }

    #search-by-keyword-in-filter-recipes-page input:focus {
        border: 1px solid orange;
        box-shadow: 0px 0px 5px 0px orange;
    }

    /* For search by categories section */
    #search-by-categories-in-filter-recipes-page hr {
        margin-top: -10px;
    }

    #categories-of-recipes-in-filter-recipes-page {
        display: flex;
        width: 480px;
        margin-top: -10px;
    }

    #categories-of-recipes-in-filter-recipes-page div p {
        font-weight: bold;
    }

    #categories-of-recipes-in-filter-recipes-page div label {
        margin-top: 10px;
    }

    .category-of-recipes-in-filter-recipes-page {
        margin-right: 10px;
    }

    /* For the search button */
    #filter-recipes + button {
        margin-top: 20px;
        border: none;
        background-color: rgb(34, 136, 202);
        color: white;
        width: 80px;
        height: 35px;
        border-radius: 5px;
    }   

    #filter-recipes + button:hover {
        background-color: rgb(0, 160, 240);
    }
}

@media only screen and (min-width: 768px) {
    #categories-of-recipes-in-filter-recipes-page {
        display: flex;
        width: 480px;
        margin-top: -10px;
    }
}

@media only screen and (min-width: 956px) {
    /* For the container of filter recipes page */
    #filter-recipes-page {
        width: 820px;
        margin: auto;
    }
}