@media only screen and (max-width: 600px) {
    #type-of-recipe {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 0px;
        width: 100%;
        height: 15.5vh;
        transition: 200ms ease-in-out;
        padding: 7px 0px 0px 1px;
    }

    #type-of-recipe:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 601px) {
    #type-of-recipe {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 0px;
        width: 100%;
        height: 12vh;
        transition: 200ms ease-in-out;
        padding: 7px 0px 0px 1px;
    }

    #type-of-recipe:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 768px) {
    #type-of-recipe {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 0px;
        width: 100%;
        height: 9vh;
        transition: 200ms ease-in-out;
        padding: 7px 0px 0px 1px;
    }

    #type-of-recipe:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 956px) {
    #type-of-recipe {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 0px;
        width: 100%;
        height: 12.2vh;
        transition: 200ms ease-in-out;
        padding: 7px 0px 0px 1px;
    }

    #type-of-recipe:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 1200px) {
    #type-of-recipe {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 0px;
        width: 100%;
        height: 9vh;
        transition: 200ms ease-in-out;
        padding: 7px 0px 0px 1px;
    }

    #type-of-recipe:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 1400px) {
    #type-of-recipe {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 0px;
        width: 100%;
        height: 9vh;
        transition: 200ms ease-in-out;
        padding: 7px 0px 0px 1px;
    }

    #type-of-recipe:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 1600px) {
    #type-of-recipe {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 0px;
        width: 100%;
        height: 9vh;
        transition: 200ms ease-in-out;
        padding: 7px 0px 0px 1px;
    }

    #type-of-recipe:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 1712px) {
    #type-of-recipe {
        outline: none;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 0px;
        width: 100%;
        height: 6vh;
        transition: 200ms ease-in-out;
        padding: 7px 0px 0px 1px;
    }

    #type-of-recipe:hover {
        border: 1px solid #aaa;
        transition: 200ms ease-in-out;
    }
}