/* For the notification-settings form */
#notification-settings {
    margin-top: 20px;
    height: fit-content;
}

/* For the email notifications title*/
#email-notifications-title {
    margin: auto;
    margin-bottom: 10px;
}

.notification-settings-checkbox-label {
    font-size: 19px;
    margin: 25px 0px 25px 0px;
    width: fit-content;
}

@media only screen and (max-width: 600px) {
    /* For the container */
    #notification-settings-container {
        width: 100%;
        margin: auto; 
    }

    /* For the left side group buttons */
    #left-side-group-buttons1 {
        display: none;
    }

    /* For the h1 of notification-settings form */
    #notification-settings-options h1 {
        margin-left: 10px;
    }

    /* For the label of notification-settings form */
    #notification-settings-options label {
        margin-left: 10px;
    }

    /* For the checkbox */
    .notification-settings-checkbox {
        cursor: pointer;
        opacity: 0;
        position: absolute;
    }

    .notification-settings-checkbox-label {
        cursor: pointer;
        display: flex;
    }

    .notification-settings-checkbox-label::before {
        content: "";
        width: 1.5em;
        height: 1.5em;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 1em;
    } 

    .notification-settings-checkbox:checked + .notification-settings-checkbox-label::before {
        content: "\002714";
        background-color: orange;
    }

    /* For the bottom buttons */
    #notification-settings-bottom-buttons {
        display: flex;
        width: 70%;
        margin: 0px 0px 0px 60px;
        justify-content: space-between;
    }

    #notification-settings-save-button {
        height: 45px;
        width: 50%;
        margin: 10px 5px 0px 0px;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }

    #notification-settings-save-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }

    #notification-settings-save-button + a {
        width: 50%;
        margin: 10px 0px 0px 5px;
    }

    #notification-settings-cancel-button {
        height: 45px;
        width: 100%;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }
    
    #notification-settings-cancel-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 601px) {
    /* For the container */
    #notification-settings-container {
        width: 100%;
    }

    /* For the notification-settings form */
    #notification-settings {
        display: flex;
    }

    /* For the left side group buttons */
    #left-side-group-buttons1 {
        display: flex;
        flex-direction: column;
        margin: 10px 0px 0px 25px;
    }

    /* For the left side button */
    .left-side-button1 {
        display: block;
        font-size: 25px;
        height: 50px;
        width: 33vw;
        border: 1px solid rgb(212, 212, 212);
    }

    #left-side-selected-button1 {
        background-color: rgb(221, 221, 221);
    }
    
    /* For the left side button icon */
    .left-side-button1 i {
        position: absolute;
        display: inline-block;
        margin: -23px 0px 0px -85px;
        font-size: 25px;
    }

    /* For the left side button title */
    .left-side-button-title1 {
        position: absolute;
        display: inline-block;
        margin: -12px 0px 0px -45px;
        font-size: 15px;
    }

    #edit-profile-icon1 {
        margin-top: -20px;
    }

    #edit-profile-title1 {
        margin-top: -11px;
    }

    /* For the notification-settings form */
    #left-side-group-buttons1 + div {
        margin-left: 10px;
    }

    #notification-settings-options {
        margin-top: 1px;
    }

    /* For the h1 of notification-settings form */
    #notification-settings-options h1 {
        margin-left: 10px;
    }

    /* For the label of notification-settings form */
    #notification-settings-options label {
        margin-left: 10px;
    }

    /* For the checkbox */
    .notification-settings-checkbox {
        cursor: pointer;
        opacity: 0;
        position: absolute;
    }

    .notification-settings-checkbox-label {
        cursor: pointer;
        display: flex;
    }

    .notification-settings-checkbox-label::before {
        content: "";
        width: 1.5em;
        height: 1.5em;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 1em;
    } 

    .notification-settings-checkbox:checked + .notification-settings-checkbox-label::before {
        content: "\002714";
        background-color: orange;
    }

    /* For the bottom buttons */
    #notification-settings-bottom-buttons {
        display: flex;
        width: 100%;
        margin-top: 20px;
        justify-content: space-between;
    }

    #notification-settings-save-button {
        height: 45px;
        width: 50%;
        margin: 10px 5px 0px 58px;
        border: none;
        background-color: orange; 
        color: white;
        transition: 200ms ease-in-out;
    }

    #notification-settings-save-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }

    #notification-settings-save-button + a {
        width: 50%;
        margin: 10px 0px 0px 5px;
    }

    #notification-settings-cancel-button {
        height: 45px;
        width: 100%;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }
    
    #notification-settings-cancel-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 768px) {
    /* For the container */
    #notification-settings-container {
        width: 100%;
        margin: auto; 
    }

    /* For the notification-settings form */
    #notification-settings {
        display: flex;
    }

    /* For the left side group buttons */
    #left-side-group-buttons1 {
        display: flex;
        flex-direction: column;
        margin: 10px 0px 0px 25px;
    }

    /* For the left side button */
    .left-side-button1 {
        display: block;
        font-size: 25px;
        height: 50px;
        width: 33vw;
        border: 1px solid rgb(212, 212, 212);
    }

    #left-side-selected-button1 {
        background-color: rgb(221, 221, 221);
    }
    
    /* For the left side button icon */
    .left-side-button1 i {
        position: absolute;
        display: inline-block;
        margin: -27px 0px 0px -110px;
        font-size: 30px;
    }

    /* For the left side button title */
    .left-side-button-title1 {
        position: absolute;
        display: inline-block;
        margin: -12px 0px 0px -65px;
        font-size: 15px;
    }

    #edit-profile-icon1 {
        margin-top: -23px;
    }

    #edit-profile-title1 {
        margin-top: -11px;
    }

    /* For the notification-settings form */
    #left-side-group-buttons1 + div {
        margin-left: 30px;
        width: 100%;
    }

    #notification-settings-options {
        margin-top: 1px;
    }

    /* For the h1 of notification-settings form */
    #notification-settings-options h1 {
        margin-left: 10px;
    }

    /* For the label of notification-settings form */
    #notification-settings-options label {
        margin-left: 10px;
    }

    /* For the checkbox */
    .notification-settings-checkbox {
        cursor: pointer;
        opacity: 0;
        position: absolute;
    }

    .notification-settings-checkbox-label {
        cursor: pointer;
        display: flex;
    }

    .notification-settings-checkbox-label::before {
        content: "";
        width: 1.5em;
        height: 1.5em;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 1em;
    } 

    .notification-settings-checkbox:checked + .notification-settings-checkbox-label::before {
        content: "\002714";
        background-color: orange;
    }

/* For the bottom buttons */
    #notification-settings-bottom-buttons {
        display: flex;
        width: 80%;
        margin-top: 20px;
        justify-content: space-between;
    }

    #notification-settings-save-button {
        height: 45px;
        width: 50%;
        margin: 10px 5px 0px 58px;
        border: none;
        background-color: orange; 
        color: white;
        transition: 200ms ease-in-out;
    }

    #notification-settings-save-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }

    #notification-settings-save-button + a {
        width: 50%;
        margin: 10px 0px 0px 5px;
    }

    #notification-settings-cancel-button {
        height: 45px;
        width: 100%;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }
    
    #notification-settings-cancel-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 956px) {
    /* For the container */
    #notification-settings-container {
        width: 70%;
        margin: auto; 
    }

    /* For the notification-settings form */
    #notification-settings {
        display: flex;
    }

    /* For the left side group buttons */
    #left-side-group-buttons1 {
        display: flex;
        flex-direction: column;
        margin: 10px 0px 0px 0px;
    }

    /* For the left side button */
    .left-side-button1 {
        display: block;
        font-size: 25px;
        height: 50px;
        width: 25vw;
        border: 1px solid rgb(212, 212, 212);
    }

    #left-side-selected-button1 {
        background-color: rgb(221, 221, 221);
    }

    /* For the left side button link */
    .left-button-link1 {
        text-decoration: none;
        color: black;
        height: 50px;
    }

    .left-button-link1:hover {
        color: black;
    }
    
    /* For the left side button icon */
    .left-side-button1 i {
        position: absolute;
        display: inline-block;
        margin: -27px 0px 0px -100px;
        font-size: 30px;
    }

    /* For the left side button title */
    .left-side-button-title1 {
        position: absolute;
        display: inline-block;
        margin: -12px 0px 0px -55px;
        font-size: 15px;
    }

    #edit-profile-icon1 {
        margin-top: -23px;
    }

    #edit-profile-title1 {
        margin-top: -11px;
    }

    /* For the notification-settings form */
    #left-side-group-buttons1 + div {
        margin-left: 30px;
        width: 100%;
    }
    
    #notification-settings-options {
        margin-top: 1px;
    }

    /* For the checkbox */
    .notification-settings-checkbox {
        cursor: pointer;
        opacity: 0;
        position: absolute;
    }

    .notification-settings-checkbox-label {
        cursor: pointer;
        display: flex;
    }

    .notification-settings-checkbox-label::before {
        content: "";
        width: 1.5em;
        height: 1.5em;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 1em;
    } 

    .notification-settings-checkbox:checked + .notification-settings-checkbox-label::before {
        content: "\002714";
        background-color: orange;
    }

    /* For the bottom buttons */
    #notification-settings-bottom-buttons {
        display: flex;
        width: 90%;
        margin-top: 20px;
        justify-content: space-between;
    }

    #notification-settings-save-button {
        height: 45px;
        width: 50%;
        margin: 10px 5px 0px 58px;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }

    #notification-settings-save-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }

    #notification-settings-save-button + a {
        width: 50%;
        margin: 10px 0px 0px 5px;
    }

    #notification-settings-cancel-button {
        height: 45px;
        width: 100%;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }
    
    #notification-settings-cancel-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 1200px) {
    /* For the container */
    #notification-settings-container {
        width: 60%;
        margin: auto; 
    }

    /* For the notification-settings form */
    #notification-settings {
        display: flex;
    }

    /* For the left side group buttons */
    #left-side-group-buttons1 {
        display: flex;
        flex-direction: column;
        margin: 10px 0px 0px 0px;
    }

    /* For the left side button */
    .left-side-button1 {
        display: block;
        font-size: 25px;
        height: 50px;
        width: 20vw;
        border: 1px solid rgb(212, 212, 212);
    }

    #left-side-selected-button1 {
        background-color: rgb(221, 221, 221);
    }

    /* For the left side button link */
    .left-button-link1 {
        text-decoration: none;
        color: black;
        height: 50px;
    }

    .left-button-link1:hover {
        color: black;
    }
    
    /* For the left side button icon */
    .left-side-button1 i {
        position: absolute;
        display: inline-block;
        margin: -27px 0px 0px -100px;
        font-size: 30px;
    }

    /* For the left side button title */
    .left-side-button-title1 {
        position: absolute;
        display: inline-block;
        margin: -12px 0px 0px -55px;
        font-size: 15px;
    }

    #edit-profile-icon1 {
        margin-top: -23px;
    }

    #edit-profile-title1 {
        margin-top: -11px;
    }

    /* For the notification-settings form */
    #left-side-group-buttons1 + div {
        margin-left: 30px;
        width: 100%;
    }

    #notification-settings-options {
        margin-top: 1px;
    }

    /* For the checkbox */
    .notification-settings-checkbox {
        cursor: pointer;
        opacity: 0;
        position: absolute;
    }

    .notification-settings-checkbox-label {
        cursor: pointer;
        display: flex;
    }

    .notification-settings-checkbox-label::before {
        content: "";
        width: 1.5em;
        height: 1.5em;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 1em;
    } 

    .notification-settings-checkbox:checked + .notification-settings-checkbox-label::before {
        content: "\002714";
        background-color: orange;
    }

    /* For the bottom buttons */
    #notification-settings-bottom-buttons {
        display: flex;
        width: 90%;
        margin-top: 20px;
        justify-content: space-between;
    }

    #notification-settings-save-button {
        height: 45px;
        width: 50%;
        margin: 10px 5px 0px 58px;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }

    #notification-settings-save-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }

    #notification-settings-save-button + a {
        width: 50%;
        margin: 10px 0px 0px 5px;
    }

    #notification-settings-cancel-button {
        height: 45px;
        width: 100%;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }
    
    #notification-settings-cancel-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 1400px) {
    /* For the container */
    #notification-settings-container {
        width: 60%;
        margin: auto; 
    }

    /* For the notification-settings form */
    #notification-settings {
        display: flex;
    }

    /* For the left side group buttons */
    #left-side-group-buttons1 {
        display: flex;
        flex-direction: column;
        margin: 10px 0px 0px 0px;
    }

    /* For the left side button */
    .left-side-button1 {
        display: block;
        font-size: 25px;
        height: 50px;
        width: 18vw;
        border: 1px solid rgb(212, 212, 212);
    }

    #left-side-selected-button1 {
        background-color: rgb(221, 221, 221);
    }

    /* For the left side button link */
    .left-button-link1 {
        text-decoration: none;
        color: black;
        height: 50px;
    }

    .left-button-link1:hover {
        color: black;
    }
    
    /* For the left side button icon */
    .left-side-button1 i {
        position: absolute;
        display: inline-block;
        margin: -27px 0px 0px -110px;
        font-size: 30px;
    }

    /* For the left side button title */
    .left-side-button-title1 {
        position: absolute;
        display: inline-block;
        margin: -12px 0px 0px -65px;
        font-size: 15px;
    }

    #edit-profile-icon1 {
        margin-top: -23px;
    }

    #edit-profile-title1 {
        margin-top: -11px;
    }

    /* For the notification-settings form */
    #left-side-group-buttons1 + div {
        margin-left: 30px;
        width: 100%;
    }

    #notification-settings-options {
        margin-top: 1px;
    }

    /* For the checkbox */
    .notification-settings-checkbox {
        cursor: pointer;
        opacity: 0;
        position: absolute;
    }

    .notification-settings-checkbox-label {
        cursor: pointer;
        display: flex;
    }

    .notification-settings-checkbox-label::before {
        content: "";
        width: 1.5em;
        height: 1.5em;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 1em;
    } 

    .notification-settings-checkbox:checked + .notification-settings-checkbox-label::before {
        content: "\002714";
        background-color: orange;
    }

    /* For the bottom buttons */
    #notification-settings-bottom-buttons {
        display: flex;
        width: 80%;
        margin-top: 20px;
        justify-content: space-between;
    }

    #notification-settings-save-button {
        height: 45px;
        width: 50%;
        margin: 10px 5px 0px 58px;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }

    #notification-settings-save-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }

    #notification-settings-save-button + a {
        width: 50%;
        margin: 10px 0px 0px 5px;
    }

    #notification-settings-cancel-button {
        height: 45px;
        width: 100%;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }
    
    #notification-settings-cancel-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 1600px) {
    /* For the container */
    #notification-settings-container {
        width: 64%;
        margin: auto; 
    }

    /* For the notification-settings form */
    #notification-settings {
        display: flex;
    }

    /* For the left side group buttons */
    #left-side-group-buttons1 {
        display: flex;
        flex-direction: column;
        margin: 10px 0px 0px 0px;
    }

    /* For the left side button */
    .left-side-button1 {
        display: block;
        font-size: 25px;
        height: 50px;
        width: 18vw;
        border: 1px solid rgb(212, 212, 212);
    }

    #left-side-selected-button1 {
        background-color: rgb(221, 221, 221);
    }

    /* For the left side button link */
    .left-button-link1 {
        text-decoration: none;
        color: black;
        height: 50px;
    }

    .left-button-link1:hover {
        color: black;
    }
    
    /* For the left side button icon */
    .left-side-button1 i {
        position: absolute;
        display: inline-block;
        margin: -27px 0px 0px -130px;
        font-size: 30px;
    }

    /* For the left side button title */
    .left-side-button-title1 {
        position: absolute;
        display: inline-block;
        margin: -12px 0px 0px -85px;
        font-size: 15px;
    }

    #edit-profile-icon1 {
        margin-top: -23px;
    }

    #edit-profile-title1 {
        margin-top: -11px;
    }

    /* For the notification-settings form */
    #left-side-group-buttons1 + div {
        margin-left: 30px;
        width: 100%;
    }

    #notification-settings-options {
        margin-top: 1px;
    }

    /* For the checkbox */
    .notification-settings-checkbox {
        cursor: pointer;
        opacity: 0;
        position: absolute;
    }

    .notification-settings-checkbox-label {
        cursor: pointer;
        display: flex;
    }

    .notification-settings-checkbox-label::before {
        content: "";
        width: 1.5em;
        height: 1.5em;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 1em;
    } 

    .notification-settings-checkbox:checked + .notification-settings-checkbox-label::before {
        content: "\002714";
        background-color: orange;
    }

    /* For the bottom buttons */
    #notification-settings-bottom-buttons {
        display: flex;
        width: 80%;
        margin-top: 20px;
        justify-content: space-between;
    }

    #notification-settings-save-button {
        height: 45px;
        width: 50%;
        margin: 10px 5px 0px 58px;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }

    #notification-settings-save-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }

    #notification-settings-save-button + a {
        width: 50%;
        margin: 10px 0px 0px 5px;
    }

    #notification-settings-cancel-button {
        height: 45px;
        width: 100%;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }
    
    #notification-settings-cancel-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }
}

@media only screen and (min-width: 1712px) {
    /* For the container */
    #notification-settings-container {
        width: 65%;
        margin: auto; 
    }

    /* For the notification-settings form */
    #notification-settings {
        display: flex;
    }


    /* For the left side group buttons */
    #left-side-group-buttons1 {
        display: flex;
        flex-direction: column;
        margin: 10px 0px 0px 0px;
    }

    /* For the left side button */
    .left-side-button1 {
        display: block;
        font-size: 25px;
        height: 50px;
        width: 18vw;
        border: 1px solid rgb(212, 212, 212);
    }

    #left-side-selected-button1 {
        background-color: rgb(221, 221, 221);
    }

    /* For the left side button link */
    .left-button-link1 {
        text-decoration: none;
        color: black;
        height: 50px;
    }

    .left-button-link1:hover {
        color: black;
    }
    
    /* For the left side button icon */
    .left-side-button1 i {
        position: absolute;
        display: inline-block;
        margin: -27px 0px 0px -135px;
        font-size: 30px;     
    }

    /* For the left side button title */
    .left-side-button-title1 {
        position: absolute;
        display: inline-block;
        margin: -12px 0px 0px -90px;
        font-size: 15px;
    }

    #edit-profile-icon1 {
        margin-top: -23px;
    }

    #edit-profile-title1 {
        margin-top: -11px;
    }

    /* For the notification-settings form */
    #left-side-group-buttons1 + div {
        margin-left: 30px;
        width: 100%;
    }

    #notification-settings-options {
        margin-top: 1px;
    }

    /* For the checkbox */
    .notification-settings-checkbox {
        cursor: pointer;
        opacity: 0;
        position: absolute;
    }

    .notification-settings-checkbox-label {
        cursor: pointer;
        display: flex;
    }

    .notification-settings-checkbox-label::before {
        content: "";
        width: 1.5em;
        height: 1.5em;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 1em;
    } 

    .notification-settings-checkbox:checked + .notification-settings-checkbox-label::before {
        content: "\002714";
        background-color: orange;
    }

    /* For the bottom buttons */
    #notification-settings-bottom-buttons {
        display: flex;
        width: 80%;
        margin-top: 20px;
        justify-content: space-between;
    }

    #notification-settings-save-button {
        height: 45px;
        width: 50%;
        margin: 10px 5px 0px 58px;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }

    #notification-settings-save-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }

    #notification-settings-save-button + a {
        width: 50%;
        margin: 10px 0px 0px 5px;
    }

    #notification-settings-cancel-button {
        height: 45px;
        width: 100%;
        border: none;
        background-color: orange;
        color: white;
        transition: 200ms ease-in-out;
    }
    
    #notification-settings-cancel-button:hover {
        background-color: rgb(255, 187, 60);
        transition: 200ms ease-in-out;
    }
}